@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  background-color: #eceff1;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
.header {
  background-color: #263338;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: row;
}
.header h1 {
  font-size: 50px;
  font-weight: bold;
}
.header p {
  font-size: 30px;
}
.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header img {
  height: 40px;
  width: 40px;
  background-color: white;
}
.cercle {
}
.cercle img {
  width: 30px;
  height: 30px;
  fill: #000000; /* Couleur de l'icône SVG */
  padding: 10px;
  border-radius: 30%;
}
.compte {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px auto;
}
.nomcompte {
  display: flex;
  justify-content: space-between;
  background-color: #3276d2;
  height: 40px;
  align-items: center;
  border-radius: 10px;
}

.transactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
  line-height: 1.5em;
}
.transactions:nth-child(even) {
  background-color: #ffffff;
}
.transactions:nth-child(odd) {
  background-color: #f7f7f7;
}
.enfantcompte {
  color: white;
  margin: 0 10px;
  font-size: 25px;
}
.ladate {
  font-weight: 200;
}

.nomcompte.even {
  background-color: #c2185b; /* Couleur pour les éléments pairs */
}

.nomcompte.odd {
  background-color: #3276d2; /* Couleur pour les éléments impairs */
}
